
button {
    width: 100%;
    padding: 9px;
    border-radius: 4px;
    background: $blue;
    color: $white;
    font-weight: 600;
    font-size: .8rem;
    transition: all .25s ease;
    box-shadow: 0 0 0 0 transparent;
    text-align: center;
    border: 0;

    .small {
        font-size: 0.75em;
    }
    
    .x-small {
        font-size: 0.7em;
    }
}