/* ==========================================================================
  variables.scss
  =========================================================================*/

/**
  * This file is a container for all the scss variables in the app
  * If you need to change any variable in the app or in bootstrap do it here
  *
  *  Available options for Bootstrap:
  *  http://getbootstrap.com/customize/

/* Custom colors
=========================================================================*/


$white: #ffffff;
$yellow: #ffe600;
$gray: #999999;
$whisper: #eeeeee;
$blue: #3483fa;
