/* ==========================================================================
  variables.scss
  =========================================================================*/

/**
  * This file is a container for all the scss variables in the app
  * If you need to change any variable in the app or in bootstrap do it here
  *
  *  Available options for Bootstrap:
  *  http://getbootstrap.com/customize/

/* Custom colors
=========================================================================*/


$white: #ffffff;
$yellow: #ffe600;
$gray: #999999;
$blue: #3483fa;



$manatee: #9b9b9b;
$scorpion: #575757;

$mineShaft: #333333;
$mineShaftDark: #232323;
$alabaster: #fafafa;
$alto: #d9d9d9;
$valencia: #db4242;
$terracotta: #ae2021;
$tamarillo: #a91313;
$silver: #c6c6c6;
$concrete: #f2f2f2;
$blazeOrange: #FC6B00;
$carrotOrange: #f7941e;
$buttercup: #f7b11d;
$supernova: #EFC900;
$buddhaGold: #AF9600;
$turmeric: #CEBB48;
$eggWhite: #FFF8BF;
$scotchMist: #fffcdf;
$tusk: #f3f4cb;
$mountainMeadow: #16C465;
$greenHaze: #02A24B;
$woodsmoke: #0F1311;
$solitude: #e4f4ff;
$transparentBlue: #e2f0fe;
$curiousBlue: #1991eb;
$dodgerBlue: #2594ef;
$blue-t: #005dab;
$frenchPass: #b9dfff;
$pattensBlue: #dff0ff;
$pigeonBlue: #a3bad8;
$mediumPurple: #894cD7;
$hotPink: #ff82d0;
$gainsboro: #e1e1e1;
$whisper: #ebebeb;
$selago: #fffce3;
$springGreen: #02A24B;
$codGray: #121212;
$porcelain: #dfdfdf;
$athensGray: #edeef1;
$oxfordBlue: #354052;
$yellowOrange: #ffb73a;
$twitter: #57b5ff;
$facebook: #3166c7;
$whiteSmoke: #f4f4f4;
$black: #000000;
$visited: #609;
$platinum: #eaeaea;
$darkJungleGreen: #1d1d1d;
$onyx: #151515;