@import '../../styles/variables';

/* Mobile First */
.app-header {
    background-color: $yellow;
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    padding: 5px;
    .app-logo {
        height: 33px;
        width: 45px;
        margin-right: 15px;
        align-self: center;
        cursor: pointer;
    }
    
    .search-input {
        width: calc(80% - 60px);
        height: 30px;
        font-size: 14px;
        align-self: center;
        color: $gray;
        position: relative;
        border: none;
    }

    .search-button {
        background-image: url('/assets/ic_Search.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: $whisper;
        align-self: center;
        width: 40px;
        height: 34px;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}


/*Tablet And Notebooks */
@media (min-width: 768px) and (max-width: 1024px) {
    .app-header {

        .search-input {
            font-size: 16px
        }

    }
}

/*Desktops */
@media (min-width: 1024px) {

    .app-header {

        .search-input {
            width: 760px;
            font-size: 18px
        }
    
        .app-logo {
            margin-right: 25px;
        }
    }
}
